fastapi==0.115.0
uvicorn[standard]==0.30.6
psycopg[binary]==3.2.1
python-dotenv==1.0.1
requests
asyncio
attrs
https://github.com/caro3801/bplib/archive/refs/heads/fix/OpenSSL.tar.gz # petlib with a OpenSSL fix so it works with the zksk library
zksk
httpx
numpy