services:
  va_api:
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - va_data:/duckdb
    environment:
      BB_API_URL: http://172.27.145.48:8001
      RA_API_URL: http://172.27.145.48:8002
      VS_API_URL: http://172.27.145.48:8004
      DUCKDB_PATH: /duckdb/voter-keys.duckdb
      VOTER_ID: ${VOTER_ID}
    ports:
      - "8003:8000"

  # React frontend
  va_web:
    build:
      context: ./web
      dockerfile: Dockerfile
    environment:
      VITE_API_VOTINGAPP: http://va_api:8000
      VOTER_ID: ${VOTER_ID}
    depends_on:
      - va_api
    ports:
      - "5173:80"

volumes:
  va_data:
