/* Full credit for loading spinner given to the user "vineethtrv" on github: https://github.com/vineethtrv/css-loader*/
/* The spinner is used to display a loading animation while waiting for ballot verification at the "Confirmation" screen.*/
.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #7298b7;
  border-bottom-color: #606060;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
